<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <div th:if="${param.error}">
      <p style="color: red">Credenziali non valide. Riprova.</p>
    </div>

    <div th:if="${param.logout}">
      <p style="color: green">Logout effettuato con successo.</p>
    </div>

    <form th:action="@{/auth/login}" method="post">
      <label for="username">Email:</label>
      <input type="text" id="username" name="username" required />
      <br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="submit">Accedi</button>
    </form>

    <p>
      Non hai un account? <a th:href="@{/auth/registrazione}">Registrati qui</a>
    </p>
  </body>
</html>
